* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  padding: 40px 15px;
  width: 300px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 10px;
}

.set_input {
  text-align: end;
  background-color: hsla(0, 0%, 29%, 0.67);
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.down {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: hsla(0, 0%, 35%, 0.779);
  color: #fff;
}

button:hover {
  background-color: hsla(0, 0%, 45%, 0.779);
}

.operation {
  background-color: hsl(38, 84%, 44%);
}

.operation:hover {
  background-color: hsl(38, 94%, 44%);
}
